<footer class="footer">
<a class="subscribe icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="hidethis">Subscribe!</span></a>
<div class="footertext">All content copyright {{author.name}} &copy; 2014 &bull; All rights reserved.</div>
<div class="footertext">Proudly Brought To You By <a class="icon-ghost" href="htp://getvyral.com" target="_blank">Vyral Marketing</a></div>
</footer>