body {
  background: white;
  color: #323232;
  font-family: arial, sans-serif;
}

/* --- header styles --- */

.main-cover {
  width: 100%;
  height: 300px;
  background: no-repeat center center;
  background-size: cover;
}


.blogtitle {
  text-align: center;
  font-size: 3.2em;
  padding-top: 5px;
  a {
    color: red;
    text-decoration: none;
  
    &:hover {
      color: red;
    }
    &:visited {
      color: red;
    }
  }
}

/* --- you'll want to mess with the demensions and padding on this guy --- */

.logo a img{
  margin: auto;
  width: 111px;
  height: 111px;
  padding-top: 10px;
}

.blogdescription {
  @extend .blogtitle;
  font-size: 19px;
  color: red;
  text-shadow: 6px 6px 10px rgba(51, 51, 51, 1);
  line-height: .2;
}


