
/* --- header styles --- */

.main-cover {
  width: 100%;
  height: 300px;
  background: no-repeat center center;
  background-size: cover;
}


.blogtitle {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.2em;
  text-shadow: 6px 6px 10px rgba(51, 51, 51, 1);
  padding-top: 5px;
  margin: 0;
  a {
    color: white;
    text-decoration: none;
  
    &:hover {
      color: white;
    }
    &:visited {
      color: white;
    }
  }
}

/* --- you'll want to mess with the demensions and padding on this guy --- */

#logo{
  margin: 0 auto;
  width: 250px;
  height: 168px;
  a {
   img{
    width: 250px;
    height: 168px;
   }
  }
}

.blogdescription {
  @extend .blogtitle;
  padding-top: 15px;
  color: white;
  font-size: 19px;
  text-shadow: 6px 6px 10px rgba(51, 51, 51, 1);
  line-height: .2;
}


