/* ==========================================================================
   Media Queries - Smaller than 1600px
   ========================================================================== */

@media screen and (max-width: 1600px) {
 .blogtitle { 
  font-size: 4em;
 }
 .blogdescription{ 
   font-size: 1.8em;
 }
}






/* ==========================================================================
    Media Queries - Smaller than 900px
   ========================================================================== */

@media screen and (max-width: 900px) {
  .blogtitle {
    font-size: 3em;
    letter-spacing: -1px;
  }
  .blogdescription{ 
    font-size: 1.5em;
 }
}

/* ==========================================================================
    Media Queries - Smaller than 500px
   ========================================================================== */


@media screen and (max-width: 500px) {
  .blogtitle {
    font-size: 2em;
  }
  .blogdescription {
    font-size: 1.5em;
    margin-top: 20px;
  }
  nav{
    margin-top: 40px;
  }

}