$primary: #0025ff;
$accent:  #3399ff;

nav{

	text-align: center;
	background-color: $primary; 
	height: 40px;
	margin-top: 63px;
	margin-left: 0px;
	padding-left: 0px;
    ul{ 
 	 list-style-type: none;
 	 padding-left: 0px;

     li{
	  	text-transform: uppercase;
	  	font-weight: bold;
	  	font-size: 2em;
		display: inline;
		line-height: 40px;
		a{ 
			margin-left: 50px;
			text-decoration: none;
			color: white;
			&:hover{
			background-color: $accent;
		    }
	    }
      }
    }
}