/* --- header styles --- */
.main-cover {
  width: 100%;
  height: 300px;
  background: no-repeat center center;
  background-size: cover; }

.blogtitle, .blogdescription {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.2em;
  text-shadow: 6px 6px 10px #333333;
  padding-top: 5px;
  margin: 0; }
  .blogtitle a, .blogdescription a {
    color: white;
    text-decoration: none; }
    .blogtitle a:hover, .blogdescription a:hover {
      color: white; }
    .blogtitle a:visited, .blogdescription a:visited {
      color: white; }

/* --- you'll want to mess with the demensions and padding on this guy --- */
#logo {
  margin: 0 auto;
  width: 250px;
  height: 168px; }
  #logo a img {
    width: 250px;
    height: 168px; }

.blogdescription {
  padding-top: 15px;
  color: white;
  font-size: 19px;
  text-shadow: 6px 6px 10px #333333;
  line-height: .2; }

body {
  background: #323232;
  color: #323232;
  font-family: arial, sans-serif;
  margin: 0; }

nav {
  background-color: #0025ff;
  text-align: center;
  height: 40px;
  margin-top: 25px; }
  nav ul {
    list-style-type: none; }
    nav ul li {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 19px;
      display: inline;
      padding: 9px 15px;
      margin-right: 50px;
      line-height: 40px; }
      nav ul li:hover {
        background-color: #3399ff; }
      nav ul li a {
        text-decoration: none;
        color: white; }

.main {
  background-color: white;
  width: 960px;
  margin: 0 auto; }

.article {
  padding: 15px; }

.postheader {
  color: red; }

/* ==========================================================================
   Media Queries - Smaller than 1600px
   ========================================================================== */
@media screen and (max-width: 1600px) {
  .blogtitle, .blogdescription {
    font-size: 3em; } }
@media screen and (max-width: 500px) {
  .blogtitle, .blogdescription {
    font-size: 1.5em; } }
/* ==========================================================================
    Media Queries - Smaller than 900px
   ========================================================================== */
@media screen and (max-width: 900px) {
  .blogtitle, .blogdescription {
    font-size: 2em;
    letter-spacing: -1px; } }
/* ==========================================================================
    Media Queries - Smaller than 500px
   ========================================================================== */
